:root{
	--light-gray: #eaeaea;
    --med-gray: #555;
	--dark-gray: #222;
	--white: #fff;
	--dark-navy: #172426;
	
	--teal: #04838A;
    --pink: #DE0B63;
	
	--box-shadow: -5px 5px 5px var(--med-gray);
	--hover-shadow: -3px 3px 6px var(--med-gray);
	
	font-size: 16px;
}
html{
	background-color: var(--white);
}

 
#clickme, #image {
    right: 55px;
    top: 60px;
	display: flex;
	align-items: center;
	border-radius: 30px;
	
}

#clickme {
    position: absolute;
    margin-top: -40px;
}

body.light-mode {
    background-color: var(--dark-gray);
    color: #000;
}

body.light-mode footer{
	color: var(--white);
}






body{
	line-height: 1.35;
	font-family: sans-serif;
	box-sizing: border-box;
}
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

header, main, footer{
	width: 100%;
	padding: 16px;
	max-width: 1280px;
	margin: 0 auto;
}

header{
    text-align: center;
	margin: 0 auto 2rem auto;
	background-color: var(--white);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    line-height: 10em;
    color: darkgray;
    font-size: 1em;
    text-transform: uppercase;
    }

h2{
	font-size: 24px;
}

img{
	display: block;
	margin: 0 auto;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 50px;
    margin-top: 10px;
    border-bottom: 3px ridge #330000;
    border-bottom-color: #172426;
    
}
.logo{
    text-align: center;
    line-height: 60px;
    padding: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color: #172426;
    font-size: 20px;
    
}
#switcher1, #game1{
	background-color: var(--white);
	padding: 1rem;
	width: calc(100% - 2rem);
	max-width: 1280px;
}

#switcher1 .currentItem{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
}

.hiddenItem{
	display: none;
}

#switcherButtons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	width: fit-content;
	margin: 2rem auto;
}

#switcher1 img{
	grid-row: 1/-1;
}

#switcher1 h3{
	grid-column: 2/-1;
	align-self: end;
}
#game1{
	margin-top: 2rem;	
	padding-bottom: 2rem;
}

#game1 div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	max-width: 1280px;
	margin: 0 auto;
}

#game1 h2{
	grid-column: 1/-1;
}

#game1 form{
	padding: 1rem;
}

#gameDisplay p{
	padding: 0.5rem;
}


/*------------------------------------- contact form ---------------------------*/

*, *::before, *::after{
  font-family: Lato, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 1.1rem;
}


section{
  background-color: var(--white);
  max-width: 1220px;
  margin: 2rem auto;
}


form{
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1.1rem;
}

label{
  display: block;
  margin: 1rem 0 0 1rem;
}

.required{
  display: inline-block;
  color: var(--pink);
  font-size: 1.3rem;
  font-weight: bold;
}


input[type="text"], input[type="email"], textarea{
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  background: none;
  background-color: var(--wht);
  outline: none;
  border: 2px solid var(--dark-gray);
  box-shadow: var(--box-shadow);
  line-height: 1;
  height: 2.5rem;
}

textarea{
  margin-bottom: 1.5rem;
  height: 8rem;
}

input:focus{
  box-shadow: var(--box-shadow);
  border: 2px solid #172426;
}

.hidden{
  visibility: hidden;
  height: 1.5rem;
  margin: 0.5rem 0 0 0;
}

fieldset{
  width: 100%;
  border-color: #172426;
  margin: 1rem auto 0.5rem auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

legend{
  font-size: 1.1rem;
  margin-left: 1rem;
}

/* custom radio styles from: https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */

label.radio{
  font-size: 1rem;
  color: var(--dk-gray);
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0 1rem 0;
  margin: 0 0 0 2rem;
}

input[type="radio"]{
  opacity: 0;
  width: 0;
  height: 0;
}

.radio_input{
  display: flex;
}

span.radio_control{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.1rem solid #172426;
  transform: translateY(-0.05rem);
  color: var(--dk-gray);
}

span.radio_label{
  line-height: 1;
  height: auto;
  color: var(--dk-gray);
}

.radio_input input:checked + .radio_control{
  background: radial-gradient(#172426 50%, rgba(255, 0, 0, 0) 51%);
}

.radio_input input:focus + .radio_control{
  box-shadow: 0 0 0 0.05rem var(--wht), 0 0 0.15rem 0.1rem var(--dark-gray);
}

/* custom checkbox styles from: https://moderncss.dev/pure-css-custom-checkbox-style/ */


input[type="text"].error, input[type="email"].error,{
  border: 2px solid var(--pink);
}

#perferred{
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--dark-gray);
  height: 1.5rem;
}

#termsError, input + span, p ol{
  color: var(--pink);
}

#mySubmit{
  display: block;
  padding: 0.75rem;
  width: 50%;
  margin: 1rem auto;
  background-color: var(--dark-gray);
  outline: none;
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
}

#mySubmit:hover{
  box-shadow: var(--box-shadow);
}

#mySubmit:focus{
  border: 2px solid var(--pink);
}

#confirm, #msg{
  width: 100%;
  max-width: 75ch;
  margin: 1rem auto;
  padding: 2rem;
}

strong{
  font-weight: bold;
}


/*------------------------------------- contact form ---------------------------*/


button, input[type="submit"]{
	display: block;
	padding: 1rem;
	background-color: var(--dark-gray);
	color: var(--white);
	border: none;
	box-shadow: var(--box-shadow);
}
/* ------------ button style ---------------- */
input[type="submit"]{
	width: 90%;
	margin: 0 auto;
}

input, label{
	display: block;
	font-size: 1rem;
	font-family: sans-serif;
}

label{
	margin: 0.5rem 0 0.25rem 0;
}

input{
	padding: 0.5rem 0.25rem;
	margin: 0 auto 1rem auto;
	width: calc(100% - 1rem);
}

/* ----- FOR ERROR MESSAGES AND INPUT STYLES IN FORMS ----- */
.message{
  display: none;
  color: var(--orange);
  font-size: 1.2em;
  margin: 0.25em 0;
  font-weight: bold;
}

.error{
  font-size: 1em;
  display: block;
}

.errorInput{
  border: 1px solid var(--orange);
}

nav a { 
    text-decoration: none; 
    color: #172426;
}
footer{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 5px;
}

@media (hover:hover){
	button:hover, input[type="submit"]:hover{
		box-shadow: var(--hover-shadow);
	}
}
